/*
    ######################## COLORS ######################
    color-primary: #6c5ce7;
    color-primary: #6c5ce7;
    color-secondary: #7b88ff;

    color-orange: #fdcb6e;

    color-white: #fff;

    color-grey-light-1: #f1f3f8;
    color-grey-light-2: #d6e0f0;
    color-grey-light-3: #aaa;

    color-grey-dark-1: #999;
    color-grey-dark-2: #393b44;
    1rem=16px;


*/

/*******************************
        component
******************/
.btn
{
    display: inline-block;
    padding: 1rem 2rem ;
    border: none;
    background-image: linear-gradient(45deg,var(--color-secondary),var(--color-primary));
    color: var(--color-grey-light-2);
    font-size: 1.2rem ;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    transition: all 0.3s ;
    font-family: arial;
    font-weight: 400;
    box-shadow:0 0.5rem 2rem rgba(0,0,0,0.15);
}
.btn:hover{
    transform: translatey(-0.7rem)
}
.btn--medium
{
    padding: 1.4rem 5rem ;
    font-size: 1.2rem ;
    letter-spacing: 0.2rem ;
    border-radius: 5rem;
    text-transform:uppercase;
    
    
}
.btn--big
{
    padding: 1.8rem 5rem ;
    font-size: 1.3rem;
    font-family: "montserrat" ,arial ;
    font-weight: 600 ;
    letter-spacing: 0.2rem;
}
.btn--1
{
    border-radius: 5rem;
    
     
}
.btn--2
{
 font-size: 1.1rem;
    transform: skewX(-9deg);
    padding: 1.5rem 2.5rem;
    letter-spacing: 0.2rem;
    margin-top: 7rem;
    font-family: "montserrat",arial;
    font-weight: 600px;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.2rem);
    }
.btn--2:hover
{
   transform:skewX(-9deg) translate(1rem,-1rem);
}
/*****************************typography*******************/
.heading--h1
{
    font-size: 4.2rem;
    font-weight: 300;
    margin-bottom: 7rem;
    color: var(--color-grey-dark-2);
}
.heading--h1 span
{
    color: var(--color-primary);
    font-weight: 700;
}
.heading--h4
{
    font-size: 1.5rem;
    font-weight:400;
    padding: .9rem 3.5rem;
    position: relative;
    z-index:666;
    color: var(--color-white);
    transform: translateY(-50%);
    
}
.heading--h4:after
{
    background-image: linear-gradient(to right bottom,var(--color-secondary),var(--color-primary));
    position: absolute;
    content: '';
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:-1;
    transform: skewX(13deg)
}
.paragraph
{
    font-size: 1.8rem ;
    color: var(--color-grey-light-3);
    font-weight: 400;
    letter-spacing: 0.1rem ;
}
.heading--h2
{
  background-image: linear-gradient(to right bottom,var(--color-secondary),var(--color-primary));
    color: transparent;
   -webkit-background-clip:text;
    font-size: 3.1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
     
}
.heading--h3
{
    color: var(--color-grey-dark-1);
    font-weight: 300 ;
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    position: relative;
    padding-left: 9.5rem;
    margin-bottom: 2rem;

}
.heading--h3:after
{
    position: absolute;
    top: 50%;
    left:0;
    width: 8rem;
    height:0.7rem;
    background-color: var(--color-primary);
    content: "";
    transform: translateY(-50%);
    filter: blur(0.4rem);
    margin-bottom: 2rem;
    
}










:root
{
    --color-primary: #6c5ce7;
    --color-secondary: #7b88ff;
    --color-orange: #fdcb6e;
    --color-white: #fff;
    --color-grey-light-1: #f1f3f8;
    --color-grey-light-2: #d6e0f0;
    --color-grey-light-3: #aaa;
    --color-grey-dark-1: #999;
    --color-grey-dark-2: #393b44;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
/*1rem=16px // 1rem=10px */
html
{
   font-size: 62.5%; /* (10/16) * 100 */
}
body
{
    font-family: "Montserrat", Ariel;
    font-weight: 600;
    background-color: var(--color-white);
    color: var(--color-grey-dark-2);
    
}
::-webkit-scrollbar
{
    width: 6px;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--color-secondary);
}
::-webkit-scrollbar-thumb:hover
{
    background-color: var(--color-primary);
}




/*----------NAVBAR----------*/

.navbar
{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    padding: 1rem 5rem ;
    height: 7.5rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.07);
}
.navbar__logo
{
    height: 100%;
}
.navbar__logo img
{
    height: 100%;
}
.navbar__list
{
    list-style: none;
    display: flex;
    font-size: 1.7rem;
}
.navbar__item:not(:last-child)
{
    margin-right: 3.5rem;
    
}
.navbar__link,
.navbar__link:link,
.navbar__link:visited
{
    text-decoration: none ;
    color: var(--color-grey-dark-1);
    padding: 1rem;
    transition:color .3s ease-in-out ;
}
.navbar__link.active
{
    color: var(--color-primary);
}
.navbar__link:hover
{
color:var(--color-secondary);    
}

.navbar__btns .btn:first-child
{
    margin-right: 2rem;
    
}
/*
---------------header--------------
*/

.header 
{
    background-image: url('../images/header-image.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}
.header__top
{
    height: calc(100vh - 7.5rem);
    padding: 0 0 0 6rem ;
    width: 50%;
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: center ;
}
.header__top p
{
    margin-bottom: 2.5rem;
}
.header__top>.btn
{
    margin-top: 7rem;
}
.header__bottom
{
   height: 50vh; 
   padding: 0 0 0 6rem ;
    width:  80%;
    display: flex;
    justify-content: space-between ;
    align-items: center ;
}
.header__stats 
{
    background-color: var(--color-grey-light-1);
    padding: 4rem 0 ;
    width:25rem ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__stats:hover{
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,0.2);
    transform: translateY(-1rem);
    transition: all 0.3s
    
}
.header__stats__value
{
    font-size:3rem;
    background-image: linear-gradient(to right bottom , var(--color-secondary),var(--color-primary));
    -webkit-background-clip : text;
    color:transparent;
    margin-bottom:1.5rem;
}
.header__stats__title
{
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    
}

.about
{
    padding: 7rem 6rem;
    overflow: hidden;
}
.about__contact
{
    display: flex;
    justify-content: space-between;
    
}
.about__text
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     justify-content: space-between;
}
.about__image
{
    height: 55vh;
}
.about__image img
{
    height: 100% ;
}

/*
************************testimonials*************
*/

.testimonials
{
   padding: 7rem 6rem;
    overflow: hidden;
}
.testimonials_cards
{
    padding: 7rem 0 ;
}
.testimonials_card
{
    background-color: var(--color-white);
    box-shadow: 0 0 2rem rgba(0,0,0,0.15);
    width: 70rem;
    border-radius: 1rem;
    padding: 6rem 5rem ;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 4rem ;
    transition: all .3s ease-in-out ;
}
.testimonials_card:hover{
    transform: translate(3rem,-3rem);
}
.testimonials_card:nth-child(2)
{
    transform: translateX(30vw);
}
.testimonials_card:nth-child(2):hover
{
    transform: translateX(calc(30vw,3rem),-3rem);
}
.testimonials_card__user
{
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}
.testimonials_card__image
{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    position: relative;
}
.testimonials_card__image:after
{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1rem);
    background-color: var(--color-secondary);
    border-radius: 50%;
    
}
.testimonials_card__image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    padding: 0.25rem;
    background-color: var(--color-white);

}
.testimonials_card p
{
    margin-left: 4rem;
}
.testimonials__icon
{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 13rem;
    height: 13rem;
}
.testimonials__icon img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}
/*******************pricing******************/
.pricing
{
    padding: 7rem 6rem 0;
    background-image: url(../images/pricing-background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}
.pricing__content
{
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 0  ;
}
.card
{
    width: 30rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.15);
    border-radius: 2.5rem ;
    overflow: hidden;
    padding:0 0 3rem 0 ;
    text-align: center;
    background-color: var(--color-white);
    transition: all .3s ease-in-out ;
}
.card:not(:last-child)
{
    margin-right: 4rem;
}
.card:nth-child(2)
{
  transform: translateY(-3rem);
}
.card:hover
{
    transform: translateY(-2rem);
}
.card:nth-child(2):hover
{
  transform: translateY(-5rem);
}
.card__details
{
    padding: 2rem 0 3rem ;
    background-image: linear-gradient(to  bottom ,var(--color-secondary),var(--color-primary));
    color: var(--color-white);
    text-align: center;
    clip-path:circle(25rem at 50% calc(100% - 25rem))
}
.card__price
{
    font-size: 8rem;
    font-weight: 400;
    margin-top: 2rem;
    
}
.card_title
{
    font-size: 1.7rem;
    font-weight: 400;
}
.card__price sup
{
    font-size: 2.5rem;
    display: inline-block;
    transform: translateY(-50%);
    font-weight: 200;
    
}
.card__list
{
    list-style: none;
    color: var(--color-grey-dark-1);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 7rem 0 ;
    
}
.card__item:not(:last-child)
{
    margin-bottom: 1.6rem;
}
/******************************sponsers********************/

.sponsers
{
    padding: 13rem 6rem 7rem ;
    margin-bottom:7rem; 
}
.sponsers__content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0 0 ;
    
}
.sponsers__image
{
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    position: relative;
    transition: all 0.3 ease-in-out ;
}

.sponser__image:after
{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    
}
.sponsers__image:hover
{
    outline: 1.5rem solid var(--color-primary);
    outline-offset: 1rem ;
    transform: scale(1.1);
}
.sponsers__image:hover:after
{
    background-color: rgba(0,0,0,0);
}
.sponsers__image img
{
    width: 100%;
    object-fit: cover;
}
/************************foooter****************/
.footer
{
    height: 80vh;
    padding: 0 15rem ;
    background-image: url('../images/footer-cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}
.footer__logo
{
    width:10rem;
    height: 10rem;
    margin-bottom: 13rem;

}
.footer__logo img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}
.footer__list
{
    list-style: none;
    font-size: 1.3rem;
    font-weight: 400;
    
     
}
.footer__list:not(:last-child)
{
    margin-right: 8rem;
}
.footer__content
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
}
.footer__link,
.footer__link:link,
.footer__link:visited
{
    color: var(--color-white);
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.3rem 0;
    display: inline-block;
    transition: all .3s ease-in-out ;
}
.footer__link.active
{
    color: var(--color-orange);
}
.footer__link:hover
{
    color: var(--color-orange);
    
}
.footer__item:not(:last-child)
{
    margin-bottom: 1.7rem;
}
.footer__lists
{
    display: flex;
    
}
.social
{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.social__list
{
    display: flex;
    list-style: none;
    background-color: var(--color-grey-dark-2);
    border-radius: 5rem;
    margin-bottom: 2rem;
}
.social__item
{
    padding: 0.7rem;
    
}
.social__item:not(:last-child)
{
    margin-right: 0.5rem;
}
.social__link
{
height: 2.2rem;
    width: 2.2rem;
    display: inline-block;
}
.social__link img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.copyright
{
    font-size: 1.4rem;
    color: var(--color-white);
    font-weight: 300;
}




